# npm
node_modules
*.log
*.gz
.env
# Coveralls
.nyc_output
coverage
.idea
# Benchmarking
benchmarks/graphs
mongo_data

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
