extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                h1.mb-4 Create New Driver
                form(action="/drivers", method="post")
                    .form-group
                        label(for="name") Name:
                        input.form-control(type="text", id="name", name="name")
                    .form-group
                        label(for="age") Age:
                        input.form-control(type="number", id="age", name="age")
                    .form-group
                        label(for="nationality") Nationality:
                        input.form-control(type="text", id="nationality", name="nationality")
                    .form-group
                        label(for="team") Team:
                        select.form-control(id="team", name="team")
                            option(value="", selected) No Team
                            each team in teams
                                option(value=team._id)= team.name
                    button.btn.btn-primary(type="submit") Create
