extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                h1.mb-4 Create Sponsor
                form(action="/sponsors", method="post")
                    .form-group
                        label(for="name") Name:
                        input.form-control(type="text", id="name", name="name")
                    .form-group
                        label(for="industry") Industry:
                        input.form-control(type="text", id="industry", name="industry")
                    button.btn.btn-primary(type="submit") Create
