extends layout

block content
    .container
        .row.justify-content-center.mt-5
            .col-md-6
                .card
                    .card-header
                        h1.text-center Welcome
                    .card-body
                        p.text-center Please proceed to:
                        ul.list-group
                            li.list-group-item
                                a(href='/login') Login
                            li.list-group-item
                                a(href='/register') Register
