extends layout

block content
    .container
        .row.justify-content-center.mt-5
            .col-md-6
                .card
                    .card-header
                        h1.text-center Register
                    .card-body
                        form(action='/register' method='POST')
                            .form-group
                                label(for='username') Username:
                                input.form-control(type='text' name='username' required)
                            .form-group
                                label(for='email') Email:
                                input.form-control(type='email' name='email' required)
                            .form-group
                                label(for='password') Password:
                                input.form-control(type='password' name='password' required)
                            .form-group
                                input(type='checkbox' name='role' value='admin')
                                |  Register as Admin


                            button.btn.btn-primary.btn-block(type='submit') Register
                        a(href='/login' class='btn btn-link mt-3') Login
