extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                h1.mb-4 Create Team
                form(action="/teams", method="post")
                    .form-group
                        label(for="name") Name:
                        input.form-control(type="text", id="name", name="name")
                    .form-group
                        label(for="country") Country:
                        input.form-control(type="text", id="country", name="country")
                    button.btn.btn-primary(type="submit") Create
